NEXT_PUBLIC_API=https://api-dev.sehatq.com/v1
NEXT_PUBLIC_API_V2=https://api-dev.sehatq.com/v2
NEXT_PUBLIC_ENVIRONMENT=DEV
NEXT_PUBLIC_CLOUDFLARE_BASE_URL=
NEXT_PUBLIC_CLOUDFLARE_TOKEN=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
NEXT_PUBLIC_NEWRELIC_NAME=SehatQ Web Monorepo Paymentq Dev
NEXT_PUBLIC_REDIS_DB=8
NEXT_PUBLIC_REDIS_HOST=
NEXT_PUBLIC_REDIS_PORT=6379
NEXT_PUBLIC_SEHATQ_DOMAIN=https://dev.sehatq.com
NEXT_PUBLIC_SEHATQ_LOCAL_ASSET_PATH=
NEXT_PUBLIC_SEHATQ_SENDBIRD_APP_ID=
NEXT_PUBLIC_STATIC_ASSET_DOMAIN=https://static-dev.sehatq.com
NEXT_PUBLIC_USER_SERVICE_TOKEN=